.sign-up-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .sign-up-container h2 {
    text-align: center;
  }
  
  .sign-up-container form {
    display: flex;
    flex-direction: column;
  }
  
  .sign-up-container label {
    margin-bottom: 5px;
  }
  
  .sign-up-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .sign-up-container button {
    padding: 10px;
    background-color: #51b896;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sign-up-container p {
    text-align: center;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  