.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column; /* Ensures vertical layout */
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    padding: 20px;
  }
  
  .content {
    text-align: center;
    z-index: 1; /* Makes sure the headline and description appear above the background */
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .search-box {
    z-index: 1; /* Ensures the search form appears above the background */
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  